{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <h2>Dashboard 🚀</h2>

    <div class="row">

        <div class="col-md-4">
            <div class="card p-3 glass">
                <h4>Resumes</h4>
                <h2>{{ data.resumes }}</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 glass">
                <h4>Jobs Applied</h4>
                <h2>{{ data.jobs_applied }}</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 glass">
                <h4>Interviews</h4>
                <h2>{{ data.interviews }}</h2>
            </div>
        </div>

    </div>
</div>

{% endblock %}