{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
<div class="col-md-4">

<div class="card p-4">
<h3 class="text-center mb-3">Login 🔐</h3>

<form method="POST" id="loginForm">

<input type="email" name="email" id="email" class="form-control mb-3" placeholder="Enter Email" required>

<button class="btn btn-custom w-100">Login</button>

</form>

<p class="text-danger mt-2" id="error"></p>

</div>

</div>
</div>

<script>
$("#loginForm").submit(function(e){
    let email = $("#email").val();

    if(!email.includes("@")){
        $("#error").text("Invalid email format ❌");
        e.preventDefault();
    }
});
</script>

{% endblock %}